@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-0HcAGblwsAKr: 16px;
  --plasmic-token-h-2: var(--token-0HcAGblwsAKr);
  --token-03RCKLz0HOsb: #2a2b37;
  --plasmic-token-neutral-900: var(--token-03RCKLz0HOsb);
  --token-7t2VfmAvEiHo: #383848;
  --plasmic-token-neutral-800: var(--token-7t2VfmAvEiHo);
  --token-3Z7Mpdaz1t6G: #48485c;
  --plasmic-token-neutral-700: var(--token-3Z7Mpdaz1t6G);
  --token-Bu1xrJ2MJi0s: #5c5d76;
  --plasmic-token-neutral-600: var(--token-Bu1xrJ2MJi0s);
  --token-cPa5eeBA10Sy: #656682;
  --plasmic-token-neutral-500: var(--token-cPa5eeBA10Sy);
  --token-3iy467f5LI70: #84859b;
  --plasmic-token-neutral-400: var(--token-3iy467f5LI70);
  --token-fQ1roAY2VRo2: #9898ab;
  --plasmic-token-neutral-300: var(--token-fQ1roAY2VRo2);
  --token-FSBIpZ5Y7jYM: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-FSBIpZ5Y7jYM);
  --token-Aa-ZNbDEDADV: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-Aa-ZNbDEDADV);
  --token-OSqyF19IID3B: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-OSqyF19IID3B);
  --token-zzZj66K8jy0r: 14px;
  --plasmic-token-body-small: var(--token-zzZj66K8jy0r);
  --token-DbBa7pK1Xy5z: 20px;
  --plasmic-token-body-small-2: var(--token-DbBa7pK1Xy5z);
  --token-gHYkKFqrIKSi: #01471e;
  --plasmic-token-success-text: var(--token-gHYkKFqrIKSi);
  --token-jcyAUVc4ug_A: #dffbea;
  --plasmic-token-success-bg: var(--token-jcyAUVc4ug_A);
  --token-kqkqPMb9Bwx-: #aff5cb;
  --plasmic-token-success-200: var(--token-kqkqPMb9Bwx-);
  --token-oTukL_sjGuk5: #87efb1;
  --plasmic-token-success-300: var(--token-oTukL_sjGuk5);
  --token-ZhqbydrQ3pmB: #5fea97;
  --plasmic-token-success-400: var(--token-ZhqbydrQ3pmB);
  --token-SCC7ng5X7WKx: #37e57d;
  --plasmic-token-success-500: var(--token-SCC7ng5X7WKx);
  --token-pgIEbBib0ax9: #24bf63;
  --plasmic-token-success-600: var(--token-pgIEbBib0ax9);
  --token-WYEzGrpolx_S: #159649;
  --plasmic-token-success-700: var(--token-WYEzGrpolx_S);
  --token-Y0w9deaqpS-u: #096e32;
  --plasmic-token-success-800: var(--token-Y0w9deaqpS-u);
  --token-FbNFx0b3M2QX: #d7faf8;
  --plasmic-token-secondary-100: var(--token-FbNFx0b3M2QX);
  --token-gUN4kR7sIGL1: #aff5f0;
  --plasmic-token-secondary-200: var(--token-gUN4kR7sIGL1);
  --token-1Xg1-GtAtOpE: #87efe8;
  --plasmic-token-secondary-300: var(--token-1Xg1-GtAtOpE);
  --token-KlwjwiEWAtFV: #5feae1;
  --plasmic-token-secondary-400: var(--token-KlwjwiEWAtFV);
  --token-nG0byuDY13-v: #37e5db;
  --plasmic-token-secondary-500: var(--token-nG0byuDY13-v);
  --token-_IJU1BQpnOqT: #24bfb5;
  --plasmic-token-secondary-600: var(--token-_IJU1BQpnOqT);
  --token-l-MY_BZy-ubT: #15968e;
  --plasmic-token-secondary-700: var(--token-l-MY_BZy-ubT);
  --token-q_hOQjliq6Zp: #096e67;
  --plasmic-token-secondary-800: var(--token-q_hOQjliq6Zp);
  --token-5h2XIveOc-CU: #014743;
  --plasmic-token-secondary-900: var(--token-5h2XIveOc-CU);
  --token-MZq1noxs2BeS: #d8d8fa;
  --plasmic-token-primary-100: var(--token-MZq1noxs2BeS);
  --token-ynw2zwmpo9cr: #b0b1f4;
  --plasmic-token-primary-200: var(--token-ynw2zwmpo9cr);
  --token-yLU-DKRQtlwc: #898bef;
  --plasmic-token-primary-300: var(--token-yLU-DKRQtlwc);
  --token-jGsccHW2jc4r: #6164e9;
  --plasmic-token-primary-400: var(--token-jGsccHW2jc4r);
  --token-fAd-tQ5R2FfE: #3a3de4;
  --plasmic-token-primary-500: var(--token-fAd-tQ5R2FfE);
  --token-xr5nrWqP1wyV: #2225bf;
  --plasmic-token-primary-600: var(--token-xr5nrWqP1wyV);
  --token-9y6IIIAldrfy: #141696;
  --plasmic-token-primary-700: var(--token-9y6IIIAldrfy);
  --token-4uJtggjhagqo: #08096e;
  --plasmic-token-primary-800: var(--token-4uJtggjhagqo);
  --token-3iyZoszcvsgD: #010347;
  --plasmic-token-primary-900: var(--token-3iyZoszcvsgD);
  --token-WaZ-S_YLm2Em: #f2f3fd;
  --plasmic-token-primary-050: var(--token-WaZ-S_YLm2Em);
  --token-ZR3dRCqMDnfO: #faf6d7;
  --plasmic-token-warning-100: var(--token-ZR3dRCqMDnfO);
  --token-qMOhmwPFhbOo: #f5eeaf;
  --plasmic-token-warning-200: var(--token-qMOhmwPFhbOo);
  --token-vnKxIEYIGNUV: #efe587;
  --plasmic-token-warning-300: var(--token-vnKxIEYIGNUV);
  --token-z6sLeCEfV5g7: #eadd5f;
  --plasmic-token-warning-400: var(--token-z6sLeCEfV5g7);
  --token-BpzAf8pRUqw6: #e5d437;
  --plasmic-token-warning-500: var(--token-BpzAf8pRUqw6);
  --token-dsc5pSwwZIwv: #bfb024;
  --plasmic-token-warning-600: var(--token-dsc5pSwwZIwv);
  --token-Sx2Hhka-N3u_: #998c15;
  --plasmic-token-warning-700: var(--token-Sx2Hhka-N3u_);
  --token-Xs27D7Q2jU_w: #6e6408;
  --plasmic-token-warning-800: var(--token-Xs27D7Q2jU_w);
  --token-Wi1S99oWX1Bp: #383302;
  --plasmic-token-warning-900: var(--token-Wi1S99oWX1Bp);
  --token-6J9MislNFtCp: #fad7d7;
  --plasmic-token-danger-100: var(--token-6J9MislNFtCp);
  --token-_lEvFsCb4GrC: #f18787;
  --plasmic-token-danger-300: var(--token-_lEvFsCb4GrC);
  --token-dXFqT5vLDOdd: #f6afaf;
  --plasmic-token-danger-200: var(--token-dXFqT5vLDOdd);
  --token-QS_70_caisKi: #ed6060;
  --plasmic-token-danger-400: var(--token-QS_70_caisKi);
  --token-M-jfPGBtADDm: #e83838;
  --plasmic-token-danger-500: var(--token-M-jfPGBtADDm);
  --token-Oks6_8ONp0Fl: #c22525;
  --plasmic-token-danger-600: var(--token-Oks6_8ONp0Fl);
  --token-zavCw8rYQV16: #9c1616;
  --plasmic-token-danger-700: var(--token-zavCw8rYQV16);
  --token-zyTg8iKf0UED: #6b0707;
  --plasmic-token-danger-800: var(--token-zyTg8iKf0UED);
  --token-JsoR9-s-K9vk: #360202;
  --plasmic-token-danger-900: var(--token-JsoR9-s-K9vk);
  --token-y_ZslaE21zCs: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-y_ZslaE21zCs);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-yvRZT1UzZ16F_font-family: "Inter", sans-serif;
  --mixin-yvRZT1UzZ16F_font-size: 14px;
  --mixin-yvRZT1UzZ16F_font-weight: 400;
  --mixin-yvRZT1UzZ16F_font-style: normal;
  --mixin-yvRZT1UzZ16F_color: var(--token-fQ1roAY2VRo2);
  --mixin-yvRZT1UzZ16F_text-align: left;
  --mixin-yvRZT1UzZ16F_text-transform: none;
  --mixin-yvRZT1UzZ16F_line-height: 21px;
  --mixin-yvRZT1UzZ16F_letter-spacing: -0.6%;
  --mixin-yvRZT1UzZ16F_white-space: pre-wrap;
  --mixin-yvRZT1UzZ16F_user-select: text;
  --mixin-yvRZT1UzZ16F_text-decoration-line: none;
  --mixin-yvRZT1UzZ16F_text-overflow: clip;
  --mixin-kCq3GFbelBFY_color: var(--token-03RCKLz0HOsb);
  --mixin-kCq3GFbelBFY_font-weight: 600;
  --mixin-kCq3GFbelBFY_font-size: 26px;
  --mixin-kCq3GFbelBFY_line-height: 32px;
  --mixin-kCq3GFbelBFY_letter-spacing: -1%;
  --mixin-kCq3GFbelBFY_white-space: pre-wrap;
  --mixin-Nkkay5y_R5BN_color: var(--token-03RCKLz0HOsb);
  --mixin-Nkkay5y_R5BN_font-size: 23px;
  --mixin-Nkkay5y_R5BN_font-weight: 700;
  --mixin-Nkkay5y_R5BN_line-height: 28px;
  --mixin-Nkkay5y_R5BN_font-family: "Inter", sans-serif;
  --mixin-Nkkay5y_R5BN_letter-spacing: -1%;
  --mixin-Nkkay5y_R5BN_white-space: pre-wrap;
  --mixin-kWbPTNszmFhp_color: #0070f3;
  --mixin-kWbPTNszmFhp_white-space: pre-wrap;
  --mixin-3Zi8rcS10hZp_color: var(--token-03RCKLz0HOsb);
  --mixin-3Zi8rcS10hZp_font-size: 20px;
  --mixin-3Zi8rcS10hZp_font-weight: 700;
  --mixin-3Zi8rcS10hZp_line-height: 24px;
  --mixin-3Zi8rcS10hZp_letter-spacing: -1%;
  --mixin-3Zi8rcS10hZp_font-family: "Inter", sans-serif;
  --mixin-3Zi8rcS10hZp_white-space: pre-wrap;
  --mixin-q9yOBGWLxFTV_color: var(--token-03RCKLz0HOsb);
  --mixin-q9yOBGWLxFTV_font-size: 18px;
  --mixin-q9yOBGWLxFTV_font-weight: 700;
  --mixin-q9yOBGWLxFTV_line-height: 24px;
  --mixin-q9yOBGWLxFTV_letter-spacing: -1%;
  --mixin-q9yOBGWLxFTV_font-family: "Inter", sans-serif;
  --mixin-q9yOBGWLxFTV_white-space: pre-wrap;
  --mixin-E0J1CZTJGDD8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-E0J1CZTJGDD8_border-bottom-color: #dddddd;
  --mixin-E0J1CZTJGDD8_border-bottom-style: solid;
  --mixin-E0J1CZTJGDD8_border-bottom-width: 1px;
  --mixin-E0J1CZTJGDD8_border-left-color: #dddddd;
  --mixin-E0J1CZTJGDD8_border-left-style: solid;
  --mixin-E0J1CZTJGDD8_border-left-width: 1px;
  --mixin-E0J1CZTJGDD8_border-right-color: #dddddd;
  --mixin-E0J1CZTJGDD8_border-right-style: solid;
  --mixin-E0J1CZTJGDD8_border-right-width: 1px;
  --mixin-E0J1CZTJGDD8_border-top-color: #dddddd;
  --mixin-E0J1CZTJGDD8_border-top-style: solid;
  --mixin-E0J1CZTJGDD8_border-top-width: 1px;
  --mixin-E0J1CZTJGDD8_border-bottom-left-radius: 3px;
  --mixin-E0J1CZTJGDD8_border-bottom-right-radius: 3px;
  --mixin-E0J1CZTJGDD8_border-top-left-radius: 3px;
  --mixin-E0J1CZTJGDD8_border-top-right-radius: 3px;
  --mixin-E0J1CZTJGDD8_font-family: "Inconsolata";
  --mixin-E0J1CZTJGDD8_padding-bottom: 1px;
  --mixin-E0J1CZTJGDD8_padding-left: 4px;
  --mixin-E0J1CZTJGDD8_padding-right: 4px;
  --mixin-E0J1CZTJGDD8_padding-top: 1px;
  --mixin-E0J1CZTJGDD8_white-space: pre-wrap;
  --mixin-1PI1Kg8_VwaJ_border-left-color: #dddddd;
  --mixin-1PI1Kg8_VwaJ_border-left-style: solid;
  --mixin-1PI1Kg8_VwaJ_border-left-width: 3px;
  --mixin-1PI1Kg8_VwaJ_color: #888888;
  --mixin-1PI1Kg8_VwaJ_padding-left: 10px;
  --mixin-1PI1Kg8_VwaJ_white-space: pre-wrap;
  --mixin-ZcdmiZDPcLfz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZcdmiZDPcLfz_border-bottom-color: #dddddd;
  --mixin-ZcdmiZDPcLfz_border-bottom-style: solid;
  --mixin-ZcdmiZDPcLfz_border-bottom-width: 1px;
  --mixin-ZcdmiZDPcLfz_border-left-color: #dddddd;
  --mixin-ZcdmiZDPcLfz_border-left-style: solid;
  --mixin-ZcdmiZDPcLfz_border-left-width: 1px;
  --mixin-ZcdmiZDPcLfz_border-right-color: #dddddd;
  --mixin-ZcdmiZDPcLfz_border-right-style: solid;
  --mixin-ZcdmiZDPcLfz_border-right-width: 1px;
  --mixin-ZcdmiZDPcLfz_border-top-color: #dddddd;
  --mixin-ZcdmiZDPcLfz_border-top-style: solid;
  --mixin-ZcdmiZDPcLfz_border-top-width: 1px;
  --mixin-ZcdmiZDPcLfz_border-bottom-left-radius: 3px;
  --mixin-ZcdmiZDPcLfz_border-bottom-right-radius: 3px;
  --mixin-ZcdmiZDPcLfz_border-top-left-radius: 3px;
  --mixin-ZcdmiZDPcLfz_border-top-right-radius: 3px;
  --mixin-ZcdmiZDPcLfz_font-family: "Inconsolata";
  --mixin-ZcdmiZDPcLfz_padding-bottom: 3px;
  --mixin-ZcdmiZDPcLfz_padding-left: 6px;
  --mixin-ZcdmiZDPcLfz_padding-right: 6px;
  --mixin-ZcdmiZDPcLfz_padding-top: 3px;
  --mixin-ZcdmiZDPcLfz_white-space: pre-wrap;
  --mixin-XMWoKyXdQkOW_display: flex;
  --mixin-XMWoKyXdQkOW_flex-direction: column;
  --mixin-XMWoKyXdQkOW_align-items: stretch;
  --mixin-XMWoKyXdQkOW_justify-content: flex-start;
  --mixin-XMWoKyXdQkOW_list-style-position: outside;
  --mixin-XMWoKyXdQkOW_padding-left: 40px;
  --mixin-XMWoKyXdQkOW_position: relative;
  --mixin-XMWoKyXdQkOW_list-style-type: disc;
  --mixin-XMWoKyXdQkOW_white-space: pre-wrap;
  --mixin-m7D7Xcxeiehg_display: flex;
  --mixin-m7D7Xcxeiehg_flex-direction: column;
  --mixin-m7D7Xcxeiehg_align-items: stretch;
  --mixin-m7D7Xcxeiehg_justify-content: flex-start;
  --mixin-m7D7Xcxeiehg_list-style-position: outside;
  --mixin-m7D7Xcxeiehg_padding-left: 40px;
  --mixin-m7D7Xcxeiehg_position: relative;
  --mixin-m7D7Xcxeiehg_list-style-type: decimal;
  --mixin-m7D7Xcxeiehg_white-space: pre-wrap;
  --mixin-85Yli4RsQitK_color: var(--token-7t2VfmAvEiHo);
  --mixin-85Yli4RsQitK_font-size: 16px;
  --mixin-85Yli4RsQitK_font-weight: 600;
  --mixin-85Yli4RsQitK_line-height: 20px;
  --mixin-85Yli4RsQitK_letter-spacing: -1%;
  --mixin-85Yli4RsQitK_font-family: "Inter", sans-serif;
  --mixin-85Yli4RsQitK_white-space: pre-wrap;
  --mixin-FG-BKMyoUBkB_color: var(--token-03RCKLz0HOsb);
  --mixin-FG-BKMyoUBkB_font-size: 14px;
  --mixin-FG-BKMyoUBkB_font-weight: 600;
  --mixin-FG-BKMyoUBkB_line-height: 20px;
  --mixin-FG-BKMyoUBkB_letter-spacing: 1%;
  --mixin-FG-BKMyoUBkB_font-family: "Inter", sans-serif;
  --mixin-FG-BKMyoUBkB_white-space: pre-wrap;
  --mixin-CvBOIuZqxaBx_color: #3291ff;
  --mixin-CvBOIuZqxaBx_white-space: pre-wrap;
  --mixin-iWGfRlQC40Ob_white-space: pre-wrap;
  --mixin-GS7sauDltzfs_color: var(--token-3Z7Mpdaz1t6G);
  --mixin-GS7sauDltzfs_font-family: "Inter", sans-serif;
  --mixin-GS7sauDltzfs_font-weight: 500;
  --mixin-GS7sauDltzfs_font-size: 16px;
  --mixin-GS7sauDltzfs_line-height: 24px;
  --mixin-GS7sauDltzfs_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-m5FbJEluDP-T_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-m5FbJEluDP-T_white-space);
  --mixin-5db1sCVGLg-f_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-5db1sCVGLg-f_white-space);
  --mixin-VZeVEFBEUQOt_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-VZeVEFBEUQOt_box-shadow);
  --mixin-VZeVEFBEUQOt_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-VZeVEFBEUQOt_white-space
  );
  --mixin-mRpr3JrOnOwy_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-mRpr3JrOnOwy_white-space);
  --mixin-EvgE0kzmgapL_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-EvgE0kzmgapL_white-space);
  --mixin-4l3682Q8RZqL_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-4l3682Q8RZqL_box-shadow
  );
  --mixin-4l3682Q8RZqL_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-4l3682Q8RZqL_white-space
  );
  --mixin-B30GGeqGSmEF_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-B30GGeqGSmEF_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-yvRZT1UzZ16F_font-family);
  font-size: var(--mixin-yvRZT1UzZ16F_font-size);
  font-weight: var(--mixin-yvRZT1UzZ16F_font-weight);
  font-style: var(--mixin-yvRZT1UzZ16F_font-style);
  color: var(--mixin-yvRZT1UzZ16F_color);
  text-align: var(--mixin-yvRZT1UzZ16F_text-align);
  text-transform: var(--mixin-yvRZT1UzZ16F_text-transform);
  line-height: var(--mixin-yvRZT1UzZ16F_line-height);
  letter-spacing: var(--mixin-yvRZT1UzZ16F_letter-spacing);
  white-space: var(--mixin-yvRZT1UzZ16F_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-kCq3GFbelBFY_color);
  font-weight: var(--mixin-kCq3GFbelBFY_font-weight);
  font-size: var(--mixin-kCq3GFbelBFY_font-size);
  line-height: var(--mixin-kCq3GFbelBFY_line-height);
  letter-spacing: var(--mixin-kCq3GFbelBFY_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Nkkay5y_R5BN_color);
  font-size: var(--mixin-Nkkay5y_R5BN_font-size);
  font-weight: var(--mixin-Nkkay5y_R5BN_font-weight);
  line-height: var(--mixin-Nkkay5y_R5BN_line-height);
  font-family: var(--mixin-Nkkay5y_R5BN_font-family);
  letter-spacing: var(--mixin-Nkkay5y_R5BN_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-kWbPTNszmFhp_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-3Zi8rcS10hZp_color);
  font-size: var(--mixin-3Zi8rcS10hZp_font-size);
  font-weight: var(--mixin-3Zi8rcS10hZp_font-weight);
  line-height: var(--mixin-3Zi8rcS10hZp_line-height);
  letter-spacing: var(--mixin-3Zi8rcS10hZp_letter-spacing);
  font-family: var(--mixin-3Zi8rcS10hZp_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-q9yOBGWLxFTV_color);
  font-size: var(--mixin-q9yOBGWLxFTV_font-size);
  font-weight: var(--mixin-q9yOBGWLxFTV_font-weight);
  line-height: var(--mixin-q9yOBGWLxFTV_line-height);
  letter-spacing: var(--mixin-q9yOBGWLxFTV_letter-spacing);
  font-family: var(--mixin-q9yOBGWLxFTV_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-E0J1CZTJGDD8_font-family);
  border-radius: var(--mixin-E0J1CZTJGDD8_border-top-left-radius)
    var(--mixin-E0J1CZTJGDD8_border-top-right-radius)
    var(--mixin-E0J1CZTJGDD8_border-bottom-right-radius)
    var(--mixin-E0J1CZTJGDD8_border-bottom-left-radius);
  padding: var(--mixin-E0J1CZTJGDD8_padding-top)
    var(--mixin-E0J1CZTJGDD8_padding-right)
    var(--mixin-E0J1CZTJGDD8_padding-bottom)
    var(--mixin-E0J1CZTJGDD8_padding-left);
  border-top: var(--mixin-E0J1CZTJGDD8_border-top-width)
    var(--mixin-E0J1CZTJGDD8_border-top-style)
    var(--mixin-E0J1CZTJGDD8_border-top-color);
  border-right: var(--mixin-E0J1CZTJGDD8_border-right-width)
    var(--mixin-E0J1CZTJGDD8_border-right-style)
    var(--mixin-E0J1CZTJGDD8_border-right-color);
  border-bottom: var(--mixin-E0J1CZTJGDD8_border-bottom-width)
    var(--mixin-E0J1CZTJGDD8_border-bottom-style)
    var(--mixin-E0J1CZTJGDD8_border-bottom-color);
  border-left: var(--mixin-E0J1CZTJGDD8_border-left-width)
    var(--mixin-E0J1CZTJGDD8_border-left-style)
    var(--mixin-E0J1CZTJGDD8_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-1PI1Kg8_VwaJ_color);
  padding-left: var(--mixin-1PI1Kg8_VwaJ_padding-left);
  border-left: var(--mixin-1PI1Kg8_VwaJ_border-left-width)
    var(--mixin-1PI1Kg8_VwaJ_border-left-style)
    var(--mixin-1PI1Kg8_VwaJ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZcdmiZDPcLfz_font-family);
  border-radius: var(--mixin-ZcdmiZDPcLfz_border-top-left-radius)
    var(--mixin-ZcdmiZDPcLfz_border-top-right-radius)
    var(--mixin-ZcdmiZDPcLfz_border-bottom-right-radius)
    var(--mixin-ZcdmiZDPcLfz_border-bottom-left-radius);
  padding: var(--mixin-ZcdmiZDPcLfz_padding-top)
    var(--mixin-ZcdmiZDPcLfz_padding-right)
    var(--mixin-ZcdmiZDPcLfz_padding-bottom)
    var(--mixin-ZcdmiZDPcLfz_padding-left);
  border-top: var(--mixin-ZcdmiZDPcLfz_border-top-width)
    var(--mixin-ZcdmiZDPcLfz_border-top-style)
    var(--mixin-ZcdmiZDPcLfz_border-top-color);
  border-right: var(--mixin-ZcdmiZDPcLfz_border-right-width)
    var(--mixin-ZcdmiZDPcLfz_border-right-style)
    var(--mixin-ZcdmiZDPcLfz_border-right-color);
  border-bottom: var(--mixin-ZcdmiZDPcLfz_border-bottom-width)
    var(--mixin-ZcdmiZDPcLfz_border-bottom-style)
    var(--mixin-ZcdmiZDPcLfz_border-bottom-color);
  border-left: var(--mixin-ZcdmiZDPcLfz_border-left-width)
    var(--mixin-ZcdmiZDPcLfz_border-left-style)
    var(--mixin-ZcdmiZDPcLfz_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-XMWoKyXdQkOW_display);
  flex-direction: var(--mixin-XMWoKyXdQkOW_flex-direction);
  align-items: var(--mixin-XMWoKyXdQkOW_align-items);
  justify-content: var(--mixin-XMWoKyXdQkOW_justify-content);
  list-style-position: var(--mixin-XMWoKyXdQkOW_list-style-position);
  padding-left: var(--mixin-XMWoKyXdQkOW_padding-left);
  position: var(--mixin-XMWoKyXdQkOW_position);
  list-style-type: var(--mixin-XMWoKyXdQkOW_list-style-type);
  flex-column-gap: var(--mixin-XMWoKyXdQkOW_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-m7D7Xcxeiehg_display);
  flex-direction: var(--mixin-m7D7Xcxeiehg_flex-direction);
  align-items: var(--mixin-m7D7Xcxeiehg_align-items);
  justify-content: var(--mixin-m7D7Xcxeiehg_justify-content);
  list-style-position: var(--mixin-m7D7Xcxeiehg_list-style-position);
  padding-left: var(--mixin-m7D7Xcxeiehg_padding-left);
  position: var(--mixin-m7D7Xcxeiehg_position);
  list-style-type: var(--mixin-m7D7Xcxeiehg_list-style-type);
  flex-column-gap: var(--mixin-m7D7Xcxeiehg_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-85Yli4RsQitK_color);
  font-size: var(--mixin-85Yli4RsQitK_font-size);
  font-weight: var(--mixin-85Yli4RsQitK_font-weight);
  line-height: var(--mixin-85Yli4RsQitK_line-height);
  letter-spacing: var(--mixin-85Yli4RsQitK_letter-spacing);
  font-family: var(--mixin-85Yli4RsQitK_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-FG-BKMyoUBkB_color);
  font-size: var(--mixin-FG-BKMyoUBkB_font-size);
  font-weight: var(--mixin-FG-BKMyoUBkB_font-weight);
  line-height: var(--mixin-FG-BKMyoUBkB_line-height);
  letter-spacing: var(--mixin-FG-BKMyoUBkB_letter-spacing);
  font-family: var(--mixin-FG-BKMyoUBkB_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CvBOIuZqxaBx_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-GS7sauDltzfs_color);
  font-family: var(--mixin-GS7sauDltzfs_font-family);
  font-weight: var(--mixin-GS7sauDltzfs_font-weight);
  font-size: var(--mixin-GS7sauDltzfs_font-size);
  line-height: var(--mixin-GS7sauDltzfs_line-height);
}
